.resetPassword_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;

}
.resetPassword_container .resetPasswordformBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.resetPassword_container .resetPasswordformBox h4{
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-size: var(--textFont);
}


.resetPassword_container .resetPasswordformBox input{
    width: 25%;
    padding: 0.8rem;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.resetPassword_container .resetPasswordformBox button{
    width: 20%;
    height: 2rem;
    /* margin: 0 auto; */

}


.notify_box{
    position: absolute;
    padding: 0.8rem;
    top: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    font-family: var(--textFont);
}

.resetPassword_sucess{
    color: white;
    background-color: green;  
}

.resetPassword_error{
    color: white;
    background-color: rgb(189, 81, 81);
}
/* ..............................css for mobile devices..................................................................... */


/*  css for small screen size 360px............................ */

@media screen and (max-width: 360px) {
    .resetPassword_container .resetPasswordformBox h4{
       
        margin-bottom: 0.8rem;
        font-size: 1rem;
        font-weight: 600;
        color: #333;
        /* text-transform: uppercase; */
        letter-spacing: 1px;
        font-size: var(--textFont);
    }
    
    
    .resetPassword_container .resetPasswordformBox input{
        width: 80%;
        height: 1rem;
        padding: 0.8rem;
        font-size: 1rem;
        margin-bottom: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }
    
    .resetPassword_container .resetPasswordformBox button{
        width: 40%;
        height: 2rem;
        /* margin: 0 auto; */
    
    }

}


/* ................. css for mobile screen 480 px........................... */

@media screen and  (max-width: 480px) {

    .resetPassword_container .resetPasswordformBox h4{
       
       
        font-size: 1rem;
        font-weight: 600;
    }
    
    
    .resetPassword_container .resetPasswordformBox input{
        width: 90%;
        font-size: 0.8rem;
        height: 2rem;
    }
    
    .resetPassword_container .resetPasswordformBox button{
        width: 30%;
        height: 1.8rem;
        border-radius: 5px;
        /* margin: 0 auto; */
    
    }


}



/* ............. css for tab 786 screen size................... */

@media screen and (max-width: 786px) {


}


/*  css for 991 px mobile screen... */
@media screen and (max-width: 991px) {
  

}


/*  ..............css for big screen............................. */

