@import "../scss/notifymixin.scss";

.alertBoxbg {
    @include notifybgmixin();
    .alert_container {
        @include notifycontentmixin(25%, auto, #dc3545);

        .close_icon {
            float: right;
            font-size: 1.6rem;
            cursor: pointer;
        }
        h1{
            font-size: 1.3rem;
        }
      }
  }
  
  
  